<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>extend</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<script src="//cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<div id="app">
    <p>Mustache 语法不能作用在 HTML 特性上，遇到这种情况应该使用 v-bind 指令：</p>
    <div v-bind:id="dynamicId"></div>
    <button v-bind:disabled="isButtonDisabled">Button</button>
</div>
<script>
    var obj = {
        dynamicId: 'bar',
        isButtonDisabled: true
    };
    var vm = new Vue({
        el: '#app',
        data: obj
    });
</script>
</body>
</html>