@charset "utf-8";
/*引用*/
$nav-color: #F90;
$width: 100px;
nav {
  width: $width;
  color: $nav-color;
}
/*嵌入引用*/
$selected-color: #F90;
.selected {
  border: 1px solid $selected-color;
}
/*嵌套引用*/
$highlight-color: #F90;
$highlight-border: 1px solid $highlight-color;
.highlight {
  border: $highlight-border;
}
/*下划线不区分*/
$linked-color: #F90;
.linked {
  border: $linked_color;
}